.element{
    height: 200px;
    width: 200px;
    background-color: darkmagenta;
    display:flex;
    align-items: center;
    justify-content: center;
    color: beige;
    font-weight: 600;
    border-radius: 20px;

    animation-name: spin;
    animation-duration: 0.5s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
    animation-play-state: paused;

}

.element:hover{
    animation-play-state: running;
}
@keyframes spin{
    0% {transform: rotate(0deg);}
    100%{transform: rotate(360deg); border-radius: 50%;}
}